<a href="https://colab.research.google.com/github/RabeetaB/FYP/blob/master/sentiment_analysis_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing libraries for model
# %tensorflow_version 2.x
# import tensorflow as tens_flow
# import tensorflow_datasets as tens_flow_ds
# import tensorflow_hub as tens_hub
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [ ]:
#importing dataset from local system
from google.colab import files
uploaded = files.upload()

In [ ]:
#read data from uploaded file
amazon_fine_food_reviews_dataset = pd.read_csv('Reviews.csv')

In [ ]:
#data info
amazon_fine_food_reviews_dataset.head(5)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...
3   4  ...  If you are looking for the secret ingredient i...
4   5  ...  Great taffy at a great price.  There was a wid...

[5 rows x 10 columns]

In [ ]:
amazon_fine_food_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [ ]:
amazon_fine_food_reviews_dataset.describe()

                  Id  HelpfulnessNumerator  ...          Score          Time
count  568454.000000         568454.000000  ...  568454.000000  5.684540e+05
mean   284227.500000              1.743817  ...       4.183199  1.296257e+09
std    164098.679298              7.636513  ...       1.310436  4.804331e+07
min         1.000000              0.000000  ...       1.000000  9.393408e+08
25%    142114.250000              0.000000  ...       4.000000  1.271290e+09
50%    284227.500000              0.000000  ...       5.000000  1.311120e+09
75%    426340.750000              2.000000  ...       5.000000  1.332720e+09
max    568454.000000            866.000000  ...       5.000000  1.351210e+09

[8 rows x 5 columns]

In [ ]:
#data preprocessing starts here

In [ ]:
#drop rows containing null values
amazon_fine_food_reviews_dataset.dropna()

            Id  ...                                               Text
0            1  ...  I have bought several of the Vitality canned d...
1            2  ...  Product arrived labeled as Jumbo Salted Peanut...
2            3  ...  This is a confection that has been around a fe...
3            4  ...  If you are looking for the secret ingredient i...
4            5  ...  Great taffy at a great price.  There was a wid...
...        ...  ...                                                ...
568449  568450  ...  Great for sesame chicken..this is a good if no...
568450  568451  ...  I'm disappointed with the flavor. The chocolat...
568451  568452  ...  These stars are small, so you can give 10-15 o...
568452  568453  ...  These are the BEST treats for training and rew...
568453  568454  ...  I am very satisfied ,product is as advertised,...

[568411 rows x 10 columns]

In [ ]:
amazon_fine_food_reviews_dataset = amazon_fine_food_reviews_dataset.iloc[:200000, :]

In [ ]:
amazon_fine_food_reviews_dataset

            Id  ...                                               Text
0            1  ...  I have bought several of the Vitality canned d...
1            2  ...  Product arrived labeled as Jumbo Salted Peanut...
2            3  ...  This is a confection that has been around a fe...
3            4  ...  If you are looking for the secret ingredient i...
4            5  ...  Great taffy at a great price.  There was a wid...
...        ...  ...                                                ...
199995  199996  ...  Couldn't find this one in our local grocery.  ...
199996  199997  ...  This was the first kind my family and I bought...
199997  199998  ...  I have healthy 45 year old teeth and broke a l...
199998  199999  ...  You might as well eat the box it came in.  If ...
199999  200000  ...  Let me set the scene for you: three felines in...

[200000 rows x 10 columns]

In [ ]:
# converting all test to lower
amazon_fine_food_reviews_dataset['Text'] = amazon_fine_food_reviews_dataset['Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
amazon_fine_food_reviews_dataset['Text'].head()

0    i have bought several of the vitality canned d...
1    product arrived labeled as jumbo salted peanut...
2    this is a confection that has been around a fe...
3    if you are looking for the secret ingredient i...
4    great taffy at a great price. there was a wide...
Name: Text, dtype: object

In [ ]:
# removing punctuaton marks
amazon_fine_food_reviews_dataset['Text'] = amazon_fine_food_reviews_dataset['Text'].str.replace('[^\w\s]','')
amazon_fine_food_reviews_dataset['Text'].head()

0    i have bought several of the vitality canned d...
1    product arrived labeled as jumbo salted peanut...
2    this is a confection that has been around a fe...
3    if you are looking for the secret ingredient i...
4    great taffy at a great price there was a wide ...
Name: Text, dtype: object

In [ ]:
#Add y column

In [ ]:
amazon_fine_food_reviews_dataset['y']= amazon_fine_food_reviews_dataset.Score
amazon_fine_food_reviews_dataset.y[amazon_fine_food_reviews_dataset.Score <= 3] = 0
amazon_fine_food_reviews_dataset.y[amazon_fine_food_reviews_dataset.Score >  3] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
amazon_fine_food_reviews_dataset.head()

   Id   ProductId  ...                                               Text  y
0   1  B001E4KFG0  ...  i have bought several of the vitality canned d...  1
1   2  B00813GRG4  ...  product arrived labeled as jumbo salted peanut...  0
2   3  B000LQOCH0  ...  this is a confection that has been around a fe...  1
3   4  B000UA0QIQ  ...  if you are looking for the secret ingredient i...  0
4   5  B006K2ZZ7K  ...  great taffy at a great price there was a wide ...  1

[5 rows x 11 columns]

In [ ]:
#data splitting starts here

In [ ]:
amazon_fine_food_reviews_dataset['Text']= amazon_fine_food_reviews_dataset['Text'].astype(str)

In [ ]:
X = amazon_fine_food_reviews_dataset.Text
y = amazon_fine_food_reviews_dataset.y.values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( 
           X, y, test_size = 0.33, random_state = 700)

In [ ]:
X_train.shape, y_train.shape

((134000,), (134000,))

In [ ]:
X_test.shape, y_test.shape

((66000,), (66000,))

In [ ]:
tfi = TfidfVectorizer(ngram_range=(1,3), max_features = 2000)

In [ ]:
X_train_vect = tfi.fit_transform(X_train).toarray()

In [ ]:
X_test_vect = tfi.transform(X_test).toarray()

In [ ]:
#Now model is build and compiled onwards

In [ ]:
logreg = LogisticRegression(max_iter=700)

In [ ]:
logreg.fit(X_train_vect, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=700,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
cv_logreg= logreg.fit(X_train_vect, y_train)

In [ ]:
y_prediction = logreg.predict(X_test_vect)

In [ ]:
#Accuracy and prediction scores

In [ ]:
print('Accuracy score: {0:0.2f}'.format(accuracy_score(y_test, y_prediction)))
print('Precision score: {0:0.2f}'.format(precision_score(y_test, y_prediction)))
print('Recall score: {0:0.2f}'.format(recall_score(y_test, y_prediction)))
print('F1 score: {0:0.2f}'.format(f1_score(y_test, y_prediction, average='micro')))

Accuracy score: 0.88
Precision score: 0.90
Recall score: 0.95
F1 score: 0.88

In [ ]:
test_vect = tfi.transform(['''he view on the drive here was beautiful and we managed to get good alfresco seats overlooking the hills. 
They had a good range of items on their menus, from Pakistani dishes to Western food. 
However, the food was less than satisfactory, the taste was just completely off.
 We are not usually complainers, but this was a complete rip-off as the prices were pretty high for this kind of substandard things on the plate which they called food.
Also, we had to witness a family of diners on the next table depositing their garbage into the hills, literally throwing tissues over the fence into the greenery below. 
The staff saw this, did nothing and I was holding down every muscle in my body from picking a fight with these inconsiderate adversaries of the environment.''']).toarray()
logreg.predict(test_vect)

array([0])

In [ ]:
test_vect1 = tfi.transform(['''Great service provided. Food quality good as always. Very busy but the service provided was still top notch. 
Contact free menu's using mobile and sanitisers available all across the restuarant. ''']).toarray()
logreg.predict(test_vect1)

array([1])

In [ ]:
test_vect1 = tfi.transform(['''The most expensive in Islamabad with double taxation ,albeit tax is slashed half by regime.
The french toasts are cooked by putting custard inside and tea/paratha is too expensive.only one cup tea is served in combo deal of paratha.
Other stuff like steak and chinese dishes are too expensive;no fit for pakistan''']).toarray()
logreg.predict(test_vect1)

array([1])

In [ ]:
test_vect1 = tfi.transform(['''Ordered Pakistani omelette and chicken sausage. The food was excellent and prepared perfectly.
It’s a great venue also. I was also surprised by the outstanding service and hygiene. Very good choice and a must go whilst in Islamabad.''']).toarray()
logreg.predict(test_vect1)

array([1])

In [ ]:
test_vect1 = tfi.transform(['''Extremely disappointing service. Took us over an hour to get the food even when there were numerous tables open.
 Never got our coffees or chai even after reminding them three times. Had to even ask to get menus and then the same with water. 
 Only saving grace were the parathas.
Never returning!''']).toarray()
logreg.predict(test_vect1)

array([0])